doctype html
html
    head
        title="Charts - " + generationDate
        link(rel="stylesheet" href="style.css")
        script(src="libraries/js-joda.js")
        script(type="module" src="main.js")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/png" href="icon.png")
        meta(name="at.yeoman.generationTime" content=generationDateTime)
        meta(http-equiv="expires" content="900")
    body
        div#settings
            label
                input(type='radio' id='linear' name='scaling' value='linear')
                |  Linear
            label
                input(type='radio' id='logarithmic' name='scaling' value='logarithmic')
                |  Logarithmisch
            br
            label
                input(type='radio' id='decimal' name='yAxis' value='linear')
                |  Dezimal
            label
                input(type='radio' id='binary' name='yAxis' value='logarithmic')
                |  Binär
            br
            label
                input(type='radio' id='oesterreichGesamt' name='dataset' value='oesterreichGesamt')
                |  Österreich gesamt
            label
                input(type='radio' id='oesterreich' name='dataset' value='oesterreich')
                |  Österreich
            label
                input(type='radio' id='wien' name='dataset' value='wien')
                |  Wien
            label
                input(type='radio' id='niederoesterreich' name='dataset' value='niederoesterreich')
                |  Niederösterreich
            label
                input(type='radio' id='oberoesterreich' name='dataset' value='oberoesterreich')
                |  Oberösterreich
            label
                input(type='radio' id='burgenland' name='dataset' value='burgenland')
                |  Burgenland
            label
                input(type='radio' id='steiermark' name='dataset' value='steiermark')
                |  Steiermark
            label
                input(type='radio' id='kaernten' name='dataset' value='kaernten')
                |  Kärnten
            label
                input(type='radio' id='salzburg' name='dataset' value='salzburg')
                |  Salzburg
            label
                input(type='radio' id='tirol' name='dataset' value='tirol')
                |  Tirol
            label
                input(type='radio' id='vorarlberg' name='dataset' value='vorarlberg')
                |  Vorarlberg
        div#chart
            div#canvasLayout
                canvas#canvas
