doctype html
html
    head
        title="Calories"
        link(rel="stylesheet" href="style.css")
        script(type="module" src="main.js")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    body
        div#settings
            | Settings
        div#chart
            div#canvasLayout
                canvas#canvas
